.dropdown-container {
  border: 2px solid black;
  background-color: white;
  width: 210px;
  height: 40px;

  .dropdown-arrow {
    cursor: pointer;
  }

  .dropdown {
    text-align: center;
    cursor: pointer;

    p {
      margin-top: 3px;
    }

    .dropdown-li {
      width: 208px;
      margin-top: 6px;
      background-color: white;
      border: 1px solid black;
    }
  }
}
