.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(231, 231, 231);
}

/* Si tiene la resolucion minima deberia ir el boton arriba y el dropdown abajo */
button.show-dropdown {
  border: none;
  background-color: rgb(235, 116, 39);
  box-shadow: 0px 5px 25px rgb(248, 165, 98);
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 120px;
  height: 50px;
}
